<h1>
Users
</h1>
<% @users.each do |u| %>
	<p>
	Username: <%= u.username %>, 
	Email: <%= u.email %>, 
	Age: <%= u.age %>
	</p>
<% end %>

<h1>
Cats
</h1>
<% @cats.each do |c| %>
	<p>
	Name: <%= c.name %>
	</p>
<% end %>

<h1>
Todos
</h1>
<% @todos.each do |t| %>
	<p>
	Tasks: <%= t.tasks %>
	- <%= t.finished %>
	</p>
<% end %>